.product-card{
    border: 1px solid #eee;
    border-radius: 20px;
    cursor: pointer;
    height: 100%;
}
.product-card img{
    width: 250px;
    height: 250px;
}
.product-card a{
    color: var(--text);
}
.desc{
    min-height: 72px;
}